html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-weight: normal;
  padding: 0;
  margin: 0 auto;
  width: 945px;
}

.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 32px 0;
  margin-bottom: 40px;
  font-size: 18px;
  border-bottom: 1px solid #828282;
}

.first {
  text-align: left;
}

.last {
  text-align: right;
}

.menu a {
  text-decoration: none;
  color: #828282;
  width: 115px;
}

.menu a:hover {
  color: black;
  font-weight: 700;
}

.main-menu {
  position: relative;
  display: flex;
}

h1 {
  font-weight: 700;
  font-size: 47px;
  margin: 0;
}

.info {
  font-size: 18px;
  position: absolute;
  top: 60px;
  left: 400px;
}

.language {
  font-size: 16px;
  position: absolute;
  top: 40px;
  right: -2%;
  transform: rotate(-90deg);
}

.language a {
  text-decoration: none;
  color: black;
}

.box-img {
  position: relative;
  overflow: hidden;
  width: 944px;
  height: 450px;
  margin-top: 40px;
}

.section {
  margin: 120px 0;
  text-align: center;
}

.section-2 {
  margin: 224px 0;
  text-align: center;
}
.heading {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 18px;
}

.text {
  font-size: 18px;
  display: inline-block;
  width: 486px;
}

.text p {
  margin: 0 0 40px 0;
}

.my-skill {
  font-size: 18px;
  display: block;
  margin: 69px 0 83px 0;
}

.skill {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.programs {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #828282;
}

.bg-img1 {
  position: absolute;
  top: 170px;
  left: 20px;
}

.bg-img2 {
  position: absolute;
  top: 170px;
  left: 410px;
}

.bg-img3 {
  position: absolute;
  top: 170px;
  right: 20px;
}

.portfolio {
  background: #f6f6f6;
  margin-top: 212px;
}

.projects {
  margin: auto;
  margin-top: 47px;
}

.MoGo {
  margin-bottom: 99px;
}

.text-portfolio {
  margin-top: 45px;
}

.text-portfolio a {
  font-size: 18px;
  color: black;
  margin: auto;
}

.contacts {
  margin-top: 210px;
}

.heading-contacts {
  margin-bottom: 30px;
}

form {
  margin-top: 50px;
}

.button {
  text-decoration: none;
  font-size: 18px;
  background: #000;
  color: white;
  padding: 13px 30px;
  border-radius: 50px;
  font-weight: 700;
}

.img {
  margin: 86px 0 45px 0;
  display: flex;
  justify-content: space-around;
}

.subscribe {
  font-size: 14px;
  color: #828282;
}

.scroll .top {
  position: fixed;
  top: 10px;
  left: 150px;
}

.scroll .bottom {
  transform: scale(1, -1);
  position: fixed;
  bottom: 10px;
  left: 150px;
}
